
body {
    min-height: 100%;
}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mainContainer{
  
  width: 100%;
 
}
.topDiv{
    display: flex;
    flex-direction: row;
}
.topLeftDiv{
    width: 690px;
    background-color: gray;
    height: 440px;
    position: relative;

}
.menuBar{
    position: absolute;
    width: 550px;
    height: 50px;
    background-color: none;
    top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
}
h3{
    font-size: 30px;
}
.menu{
    font-size: 20px;
    font-weight: 500;
    user-select: none;
    cursor: pointer;
}
.menu:hover{
    opacity: 0.8;
    padding: 5px;
    border-bottom: 2px solid white;
}
.imageContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: tomato;
    transition: all 1s ease;
    
}
.leftMove{
    transform: translateX(-692px);
}

.topRightDiv{
    width: 55%;
    background-color: ivory;
    position: relative;
}
.paraContainer{
    margin: 50px auto;
    width: 500px;
    
}
.shopNowDiv{
   width: 500px;
   margin: -30px auto;
   font-size: 30px;
   font-weight: 900;
   cursor: pointer;
   user-select: none;
}
.shopNowDiv:hover{
    opacity: 0.6;
    
}
.arrow{
     margin-left: 30px;
}
.slidebutton{
    position: absolute;
    bottom: 0px;
    left: 15px;
    
}
.leftArrow,
.rightArrow{
    font-size: 70px;
    user-select: none;
    cursor: pointer;
}
 .leftArrow:active,
 .rightArrow:active{
     opacity: 0.6;
 }
 
h1{
    
    margin-bottom: 20px;
    font-size: 50px;
}
h2{
    margin-bottom: 20px;
}
span{
    font-size: 18px;
    color: rgb(63, 63, 63);
}

.footerDiv{
    display: flex;
    flex-direction: row;
}
.footer{
    width: 30%;
    height: 320px;
}
.darkChair,
.lightChair{
    width: 100%;
    height: 100%;
}
.footer2{
    width: 40%;
}
